@media only screen and (max-width: 1199px) {
    .reservation-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-bg {
        height: 600px;
        padding: 60px 0;
    }


    .hero-text h1 {
        font-size: 44px;
    }

    .hero-text {
        margin-bottom: 50px;
    }

    .footer-wrapper {
        margin-bottom: 50px;
    }

    footer.footer {
        padding-top: 50px;
    }
    .date-picker {
        width: 48%;
    }
    .guest-counter {
        width: 48%;
    }
    .reservation-container .btn-checks {
        margin-top: 0;
    }
}

@media only screen and (max-width: 991px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 4.375rem;
        background-color: #faf7f2;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        z-index: 9999;
        gap: 20px;
    }

    .personal_banner {
        height: 22.625rem;
    }

    .navbar li {
        padding: 0.9375rem;

    }

    .navbar li:first-child {
        margin-top: 3.125rem;

    }

    .navbar li a {
        font-size: 1rem;
        color: #000;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .hero-bg {
        padding: 70px 0;
        height: auto;

    }
    section.inner-bnr {
        height: auto;
        padding: 80px 0;
    }

    .image-column .inner-column {
        margin-right: 0;

    }

    .content-column .inner-column {
        padding: 61px 0 70px 61px;
        margin-top: 0;
    }

    .hotels-inner-card.second .row {
        flex-direction: column-reverse;
    }

    .hotels-inner-card.second .image-column .inner-column {
        margin-right: 0;
        margin-left: 0;
    }

    .hotels-inner-card.second .content-column .inner-column {
        padding: 61px 61px 70px 60px;
    }

}
@media(max-width:767px){
    .footer_list {
        gap: 2rem;
    }
    .after-banner-text {
        padding: 40px 80px 40px 80px;
    }
    .pt-120 {
        padding-top: 80px;
    }
    .high-stakes-text {
        padding-top: 20px;
    }
    .stakes-img {
        margin-top: 20px;
    }
    .choose-us-inner .row .col-md-4 {
        margin-bottom: 30px;
    }
    .golfing .row {
        flex-direction: column-reverse;
    }
    .image-box.img {
        margin-bottom: 20px;
    }
    .hotels-inner-card.second .content-column .inner-column {
        padding: 40px 40px 40px 40px;
    }
    .content-column .inner-column {
        padding: 40px 40px 40px 40px;
    }
    .why-book-us-inner .row .col-md-4 {
        margin-bottom: 20px;
    }
    .row .col-md-4 .card {
        margin-bottom: 20px;
    }
    .after-banner-text-contact {
        padding: 40px 80px 40px 80px;
    }
    .email-detail {
        padding: 40px 40px;
        text-align: center;
    }
}

@media(max-width:575px){
    .pt-120 {
        padding-top: 50px;
    }
    .footer_btmWrapp {
      flex-direction: column;
      text-align: center;
      gap: 0.3rem;
    }
    .ssl {
        width: 100%;
        justify-content: center;
    }
    .navbar {
        grid-template-columns: 1fr 1fr;
    }
}


@media(max-width:475px){

    .pt-120 {
        padding-top: 40px;
    }
    .after-banner-text {
        padding: 20px 40px 21px 40px;
    }
    h2.title {
        margin-bottom: 15px !important;
    }
    h2.title1 {
        margin-bottom: 15px;
    }
    h2.title3 {
        margin-bottom: 15px;
    }
    h2.title2 {
        margin-bottom: 15px;
    }
    .hero-text h1 {
        font-size: 35px;
    }
    .after-banner-text-contact {
        padding: 20px 40px 20px 40px;
    }
}